<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>angularjs examples</title>
<script src="js/angular.js"></script>
<script src="js/appmodel.js"></script>
</head>
<body ng-app="myapp">
	<a href="index.html">back</a><br>

	<h3>1.Kursor myszy:</h3>
	<div ng-controller="eventCtrl">
		<h3 ng-mousemove="count = count + 1">Mouse Over Me!</h3>
		<b>{{ count }}</b>
	</div>
	
	<h3>2.Klikanie w przycisk:</h3>
	<div  ng-controller="eventCtrl">
		<button ng-click="count = count + 1">Click Me!</button><br>
		<b>{{ count }}</b>
	</div>
	
	<h3>3.Toggle:</h3>
	<div  ng-controller="eventCtrl">
		<button ng-click="myFunc()">TOGGLE</button>

		<div ng-show="showMe">
		    <h1>Jestem tutaj!!!</h1>
		</div>
	</div>

</body>
</html>
